.sign-in-container {
    padding-bottom: 9rem;
    width: calc(100% - 12rem);
    display: flex;
    justify-content: space-evenly;
    margin: 0 6rem;

    form {
        max-width: 25rem;

        label {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

        .submit-button {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            float: right;
        }

        input {
            width: 100%;
            height: 3rem;
            border: 2px solid var(--primary-color);
            border-radius: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 3.5rem;
        margin-top: 9rem;
    }

    .sign-in-form {
        border-right: 2px solid var(--primary-color);
        width: 50%;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 9rem);
        padding-right: 6rem;

        .google-button {
            background-color: #233E9F;
        }
    }

    .sign-up-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 6rem;

        label {
            display:block;
            clear:both;
            margin-top: 1.5rem;
            margin-bottom: 0.25rem;
        }
    }
}