.categories-container {
    width: calc(100% - 12rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem;
    column-gap: 3rem;
  }