.sign-up-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;

    label {
        display:block;
        clear:both;
        margin-top: 1.5rem;
        margin-bottom: 0.25rem;
    }
}